.App {
  min-height: calc(100vh - 64px);
  padding: 32px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.App-header {
  position: absolute;
}

.App-main {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent-color);
}

