.Hello {
  z-index: 1;
}

.Hello-title {
  margin: 8px 0;
}

.Hello-subtitle {
  margin: 8px 0;
  color: var(--main-text-color);
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .Hello {
    font-size: 1.5rem;
  }
}
