body {
  --background-color: #fefefe;
  --main-text-color: #383838;
  --secondary-text-color: #c3c8d1;
  --accent-color: #db4136;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

body.dark {
  --background-color: #282c34;
  --main-text-color: #eeeeee;
  --secondary-text-color: #444b5a;
  --accent-color: #eeba4a;
}
