.Link {
    padding: 32px;
    margin: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    position: relative;
    transition: transform 0.3s ease-out;
}

.Link:hover {
    transform: scale(1.2);
}

.Link-background {
  position: absolute;
  background-color: var(--main-text-color);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.Link-background-accent {
    background-color: var(--accent-color);
}

.Link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--background-color);
}

.Link-name-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotate(-90deg);
}

.Link-name-pusher {
    height: 100%;
    width: 100%;
}

.Link-name {
    color: var(--background-color);
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1280px) {
    .Link {
        width: 32px;
        height: 32px;
        margin: 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .Link {
        margin: 32px 0;
    }
}