.DarkModeIcon {
  fill: var(--background-color);
  transition: fill 0.3s ease-in-out;
}

.DarkModeIcon-dark-mode {
  transform: scale(1.4);
}

.DarkModeIcon-ray {
  stroke: var(--background-color);
  stroke-dasharray: 100;
  transition: opacity 0.3s linear;
}

.DarkModeIcon-ray-hide {
  animation: hide-rays 0.3s linear;
  opacity: 0;
}

@keyframes hide-rays {
  to {
    stroke-dashoffset: 100;
  }
}

.DarkModeIcon-moon {
  transition: transform 0.3s ease-in-out;
}

.DarkModeIcon-moon-hide {
  transform: translate(100%, -40%);
}
